.place__paragraph {
  margin: 0;
  padding: 0;
}

.place__paragraph:not(.place__paragraph:first-child) {
  margin-top: 26px;
}

@media (max-width: 768px) {
  .place__paragraph:not(.place__paragraph:first-child) {
    margin-top: 25px;
  }
}