.lead__text {
  margin: 0 auto 64px;
  max-width: 720px;
  text-align: center;
}

@media (max-width: 1024px) {
  .lead__text {
    margin: 0 auto 56px;
  }
}

@media (max-width: 320px) {
  .lead__text {
    max-width: 288px;
    margin: 0 auto 40px;
  }
}