.place {
  padding: 0;
  margin: 0;
  max-width: 984px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, fit-content(484px));
  grid-template-rows: repeat(2, fit-content(484px));
  gap: 48px 40px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media (max-width:1024px) {
  .place {
    max-width: 928px;
    gap: 32px 48px;
  }
}

@media (max-width:768px) {
  .place {
    max-width: 720px;
    gap: 28px 48px;
  }
}

@media (max-width:600px) {
  .place {
    max-width: 320px;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px 0;
    grid-template-areas: 
    "place__title"
    "place__website"
    "place__image"
    "place__description";
  }
}